<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>eat da burger</title>
	</head>
	<body>
	<div>
	<img src="/assets/img/burger2.png">
	</div>		
		{{{ body }}}
	</body>
</html>